<li class="blog-thumbnail" data-post-id="{{id}}">
    <div onclick="toggleEditForm('{{id}}')">
        <span class="post-title">{{title}}</span> - <span class="post-date">{{formatDate createdAt}}</span>
    </div>

    <form id="editPostForm-{{id}}" class="editPostForm" style="display: none;">
        <label for="post-title-{{id}}">Title:</label>
        <input type="text" id="post-title-{{id}}" name="title" value="{{title}}" required>
        
        <label for="post-content-{{id}}">Content:</label>
        <textarea id="post-content-{{id}}" name="content" required>{{content}}</textarea>
        
        <button type="submit">Save Edits</button>
    </form>
</li>

{{!-- 
The `data-post-id` is in the broader <li> context, rather than the <form> context. 
This is to associate it with the overall thumbnail, not simply the `editPostForm`. 
--}}
